.apartment_info{
    display: flex;
    gap: 0.5em;
    text-align: center;
}
.apartment_info span{
    background-color: #FF6060;
    color: #ffffff;
    border-radius: 0.8em;
    width: 8em;
    padding: 0.3em 0.3em;
    font-size: x-small;
    
}