
.apartment_tag {
    background-color: #FF6060;
    color: #ffffff;
    border-radius: 1em;
    width: 10em;
    padding: 0.5em 0.5em;
    font-size: x-small;
    display: flex;
    justify-content: center;

}
