.apartmentColor{
    background-color: rgb(242, 239, 236);
    height: 35em;
    width: auto;
    margin: 2em;
    border-radius: 2em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    place-items: center;
    padding-top: 2em;

}

.apartment{
    background-color: #FF6060;
    height: 15em;
    width: 28%;
    margin: 1em;
    border-radius: 0.5em;
    display: flex;
    
}

.apartment_tilte{
    color: #ffffff;
    font-weight: 300;
    font-size: 1em;
    margin-block-start: auto;
    padding: 0 1em;
    width: 5em;
    text-align: start;

}