.apartmentColor{
    background-color: rgb(242, 239, 236);
    height: auto;
    margin: 2em;
    border-radius: 2em;
    display: flex;
    flex-wrap: wrap;
    padding-top: 1em;
    justify-content: center;
}

.apartment{
    background-color: #FF6060;
    height: 15em;
    width: 28%;
    margin: 1em;
    border-radius: 0.5em;
    position: relative;
    
}

.apartment h3{
    color: #ffffff;
    font-weight: 300; 
    padding: 0 1em;
    font-size: 1em;
    position: absolute;


}


@media screen and (max-width: 768px) {
    
    .apartmentColor{
        background-color: #ffffff;
        flex-direction: column;
        padding-top: 0;
        margin: 0;
    }
    .apartment{
        width: 100%;
        
        
    }
}
