.apartment_host{
    display: flex;
    margin-left: 4em;
}
.apartment_host span{
    font-size: 1em;
    width: 90px;
    text-align: right;
    margin-right: 10px;
}


.apartment_host img{
    width: 4em;
    height: 4em;
    border-radius: 4em;
    background-color: rgb(208, 206, 204);
    margin-right: 0.1em;
}

@media screen and (max-width: 768px) {
    
    .apartment_host span{
        font-size: 0.8em;
        width: 70px;
    }
    .apartment_host img{
        width: 3em;
        height: 3em;
        border-radius: 3em;
        
    }
    
}