.description{
    background-color:  rgb(242, 239, 236);
    margin: 0 7em;
    border-radius: 1em;
    
}
.description h3{
    border: 1px solid beige;
    background-color: #FF6060;
    color: #ffffff;
    border-radius: 0.2em;
    height: 1.5em;
    font-weight: 500;
    padding-left: 0.5em;
    border-radius: 0.5em;

}
.description p{
    padding: 0.5em;
    font-weight: 400;
    color: #FF6060;
    
}