.description{
    background-color:  rgb(242, 239, 236);
    margin: 0 6em;
    border-radius: 0.7em;
    
}

.description_detail{
    background-color: #FF6060;
    color: #ffffff;
    height: 2em;
    font-weight: 500;
    padding-left: 0.5em;
    border-radius: 0.3em;
    display: flex;
    align-items: center;
}

.description h3{
    margin-right: auto;

}
.description p{
    padding: 0.7em;
    font-weight: 400;
    color: #FF6060;
    font-size: 0.9em;
}
