.description_content{
    height: 55em;
    margin: 0 6em;
}
.description{
    background-color:  rgb(242, 239, 236);
    border-radius: 0.7em;
    margin-bottom: 1.5em;
    
    
}

.description_detail{
    background-color: #FF6060;
    color: #ffffff;
    height: 2em;
    font-weight: 500;
    padding-left: 0.5em;
    border-radius: 0.3em;
    display: flex;
    align-items: center;
}

.description h3{
    margin-right: auto;
    font-size: 1.1em;
    font-weight: 300;

}
.description p{
    padding: 0.7em;
    font-weight: 400;
    color: #FF6060;
    font-size: 0.9em;
    
}

@media screen and (max-width: 768px) {
    
   .description_content{
        width: 100%; 
        height: 50em ;
        margin: 5em 0;
   }
   .description{
    margin-bottom: 2em;
    

   }
   }

