.footer{
    background-color: black;
    height: 7em;
    padding-top: 2em;
    text-align: center;
}



.text_footer{
    color: #ffffff;
    margin-top: 1.5em;
}

.logo_footer img{
    width: 6em;
    height: 2em;
}