.footer{
    background-color: black;
    height: 8em;
    text-align: center;
}



.text_footer{
    font-size: 0.9em;
    color: #ffffff;
    margin-top: 1.5em;
}

.logo_footer img{
    width: 6em;
    height: 2em;
    padding-top: 2em;
    font-size: 0.8em;
}