.navbar{
    display: flex;
    align-items: center;
    padding: 0 2em;
    margin-top: 1em;
    
}

.navbar a{
    font-size: 1.2em;
    color:#FF6060;
    text-decoration: none;
    margin: 2em;
    
}
.navbar_logo{
    margin-right: auto;
} 
.navbar img{
    width: 6em;
    height: 2em;
    
}
.navbar a:hover{
    border-bottom: 1px solid #FF6060;
}


@media screen and (max-width: 768px) {

    .navbar a{
        margin: 0.5em;
        font-size: 0.9em;
    }

    .navbar_logo{
        font-weight: 300;
    }

    .navbar{
        
        padding: 0 1em;
        
        
    }

    }