.navbar{
    display: flex;
    align-items: center;
    padding-left: 2em;
    
}

.navbar a{
    font-weight: 500;
    font-size: 1.2em;
    color:#FF6060;
    text-decoration: none;
    margin: 2em;
    
}
.navbar_logo{
    margin-right: auto;
    padding-left: 0;
} 
.navbar img{
    width: 6em;
    height: 2em;  
}

.navbar a:hover{
    border-bottom: 1px solid #FF6060;
}


@media screen and (max-width: 992px) {
    .navbar{
        padding-left: 2em;
    }  

}

@media screen and (max-width: 768px) {
    
    
    .navbar a{
        margin: 0.5em;
        font-size: 0.8em;
        text-transform: uppercase;
    }

    .navbar_logo{
        font-weight: 300;
    }
    .navbar img{
        width: 5em;
        height: 1.5em;
        
    }
    .navbar{
        margin-top: 1em;
        margin-bottom: 1em;   
    }
    }